<!DOCTYPE html>
<html>
  <head>
    <title>ミジンコ式GTD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>ミジンコ式GTD</h1>
      <div class="header-list">
        <ul>
          <%# <%= link_to '新規登録', new_user_registration_path %> %>
          <%= link_to 'ログイン', new_user_session_path %>
          <% if user_signed_in? %>
            <%= link_to "マイページへ", user_path(current_user.id) %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
